body {
  background-color: rgb(20, 20, 20);
}
html {
  scroll-behavior: smooth;
  text-align: center;
}
.heading {
  font-family: "Copperplate Gothic Light";
  text-align: center;
  font-size: 50px;
  background-color: rgba(253, 253, 253, 0.185);
}
.heading2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.603);
}
.heading3 {
  text-align: center;
  color: whitesmoke;
  background-color: rgba(255, 230, 0, 0.411);
}
nav ul li {
  display: inline-block;
  font-size: 20px;
  padding: 10px 13px;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.096);
}
a {
  color: rgba(245, 245, 245, 0.795);
}
a:hover {
  background-color: rgba(255, 230, 0, 0.411);
  opacity: 1;
  transition: 1s;
  border-radius: 10px;
  padding: 10px 13px;
}
.download {
  color: white;
  font-size: 25px;
  text-decoration: underline;
  text-align: left;
  margin-left: 15px;
}
.detail {
  text-align: center;
  font-size: 30px;
  color: antiquewhite;
  background-color: rgba(255, 230, 0, 0.336);
}
mark {
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 5px;
}
.button {
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 230, 0, 0.411);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.button:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.418);
  transition: 0.5s;
  border-radius: 10px;
  padding: 10px 13px;
}
.upload {
  background-color: rgba(255, 230, 0, 0.336);
  font-size: 30px;
  color: antiquewhite;
}

i {
  color: black;
}
.form {
  width: 400px;
  height: 420px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  margin-left: 450px;
  transform: translate(-50% -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;
  background-color: rgba(255, 255, 255, 0.089);
}
#contactus {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin-bottom: 8%;
}
.form input[type="text"],
.form input[type="password"] {
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  outline: none;
  height: 30px;
  font-size: 16px;
  opacity: 1;
  color: #ccc;
}
.form input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #bda20880;
}
.form a:hover {
  color: #fff;
  opacity: 1;
}
.bottom-text {
  color: white;
}
.bottom-text a {
  float: right;
}
.bottom-text input {
  width: 10%;
  float: left;
}
.socials {
  cursor: pointer;
  margin-top: 15%;
  text-align: center;
}
.socials a {
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 5px;
}
.socials a:nth-child(1) {
  background: #3b5998;
}
.socials a:nth-child(2) {
  background: #55acee;
}
.socials a:nth-child(3) {
  background: #bd081c;
}
.socials a:nth-child(4) {
  background: #0077b5;
}
.socials a i {
  padding: 8px 0;
}
footer {
  text-align: center;
  font-size: medium;
  background-color: rgba(255, 230, 0, 0.411);
}

.productinfo th,
td {
  border-bottom: 1px solid #ddd;
}
.productinfo tr:hover {
  background-color: #f5f5f59c;
  opacity: 0.5;
  transition: 2s;
}
.productinfo th {
  background-color: rgba(255, 228, 78, 0.582);
  color: white;
}
img {
  height: 300px;
  width: 300px;
}
.dropbtn {
  background-color: rgba(255, 228, 78, 0.582);
  color: white;
  padding: 20px;
  border-spacing: 200px;
  font-size: 16px;
  border-color: black;
  transition: 1s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(255, 228, 78, 0.719);
  margin: auto;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: relative;
}

.dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, 0.582);
}
.dropbtn2 {
  background-color: rgba(255, 228, 78, 0.582);
  color: white;
  padding: 20px;
  border-spacing: 200px;
  font-size: 16px;
  border-color: black;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: rgba(255, 228, 78, 0.719);
  margin: auto;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
  position: relative;
}

.dropdown2:hover .dropbtn2 {
  background-color: rgba(255, 255, 255, 0.582);
}
p {
  color: whitesmoke;
  font-size: 30px;
}
.edit a:hover {
  background-color: rgba(255, 230, 0, 0.411);
  opacity: 0.5;
  transition: 1s;
  border-radius: 10px;
  padding: 10px 13px;
}
.edittable {
  width: 100%;
}
.edittable a {
  background-color: transparent;
}
.edittable tr {
  background-color: rgba(255, 230, 0, 0.411);
}
.edittable a:hover {
  opacity: 0.8;
}
.edittable td {
  padding: 50px;
}
footer {
  margin-top: 38px;
  margin-bottom: 35px;
  font-size: 15px;
  background-color: #bda20880;
}
div {
  background-color: rgba(255, 230, 0, 0.411);
}
